html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	font-family: helvetica, arial, sans;
}

header {
	height: 70px;
	width:100%;
}

header #current {
	background-color: #fff06a;
	height:100%;
	width:100%;
}

.add {
	text-align: center;
	font-size:4em;
}

#formList > .add p {
	position: relative;
	top: -9px;
	color: transparent;
	text-shadow: 0 0 20px rgba(100, 174, 255, .9), 0 0 1px rgba(0, 0, 0, .4);
}

#formList > #icon {
background-color: #57a289;
height:70px;
margin: 0;
padding: 0;
}

#formList {
	color: white;
	background-color:#005181;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
}

#formList > div {
	height: 45px;
	margin: 2px 1px;
	background-color: #2281bf;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	padding: 5px;
	padding-bottom: 15px;
}

#formList > div.act {
	background-color: #006cb6;
	box-shadow: 0 0 65px rgba(0,0,0, .2) inset;
}

#formList h1 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 0;
}

#formList p {
	color: #bdc2c5;
	top: -4px;
	position: relative;
	margin: 0;
}

#fieldList {
	color: white;
	width: 200px;
	position: absolute;
	top: 0;
	left: 200px;
	background-color: #94CB68;
	height: 100%;
}

#parentForm:empty { display:none; }

#Spinner {
	top:-200px;
	left: 50%;
	margin-top:-50px;
	margin-left:-50px;
	position:absolute; 
	-webkit-transition:all 1s;
}

#Spinner.act {
	top:350px; 
}
	.spinner { 
		width:100px; 
		height:100px; 
		background:#000; 
		border-radius:100px; 
		position:absolute;
		opacity: .6; 
	}
		.anim {
			-webkit-animation-play-state:paused;
	-webkit-animation: shrink 2s infinite alternate backwards;
	}
		.anim2 {
			-webkit-animation-play-state:paused;
	-webkit-animation: shrink 2s 1s infinite alternate backwards;
	}
		.anim3 {
			-webkit-animation-play-state:paused;
	-webkit-animation: shrink 2s 2s infinite alternate backwards;
	}
	.anim4 {
		-webkit-animation-play-state:paused;
		-webkit-animation: shrink 2s 3s infinite alternate backwards;
	}

	.act .anim, .act .anim2, .act .anim3, .act .anim4 {
		-webkit-animation-play-state: running;
	}

@-webkit-keyframes shrink {

    0%, 100%{
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
    }
}